<Config>
  <LogLevel>info</LogLevel>
  <UrlBase>/radarr</UrlBase>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>xyz098radarrtestkey76543210</ApiKey>
  <AuthenticationMethod>Basic</AuthenticationMethod>
  <Branch>master</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <InstanceName>Radarr</InstanceName>
</Config>
